@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
.footer {
  max-width: 1184px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin-bottom: 24px;
    max-width: 720px;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    max-width: 530px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: block;
    max-width: 186px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}
